@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
header .brand{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
    transition: 0.3s ease;
}


header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #000;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

body{
background-color: rgb(255, 233, 178);
text-align: left;
background-image: url(house.jpg);
background-size: cover;
}

*{

}
   body.html{
    height: 100px;
    margin: 0;
    padding: 0;
    font-family: arial;
   }
   h1{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
   }
   .banner-img{
    background-image: url(house.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    filter: blur(50px);
   }
   .banner-text{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
    z-index: 5;
    width: 45%;
    padding: 40px 0;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: rgb(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    border: 10px inset #fff;
       }
       .banner-text{
        padding: 0 8%;
        font-family: merienda;
       }    
       a{
        display: inline-block;
        padding: 10px 50px;
        border: 2px solid #fff;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
        margin-top: 15px;
       }
   